@page
@model Web_app.Pages.MediaDetailsModel
@{
}
<b>Media details:</b>{
<div>
    Media details:
    <span>Id: @Model.media.Id</span>
    <span>Title: @Model.media.Title</span>
    <span>Actor: @Model.media.Actor</span>
    <span>Description: @Model.media.Description</span>
    <span>Director: @Model.media.Director</span>
    
</div>