@page
@model Web_app.Pages.ProfilePageModel
@{
}
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (Model.userProfile != null)
    {
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Welcome to your profile page</h1>
                            <div class="details-container">
                                <p class="card-text">First Name: @Model.userProfile.firstName</p>
                                <p class="card-text">Last Name: @Model.userProfile.lastName</p>
                                <p class="card-text">Email: @Model.userProfile.email</p>
                                <form method="post" asp-page-handler="UpdatePreferences">
                                    <input type="hidden" asp-for="userProfile.userID" />
                                    <label>
                                        <input type="checkbox" name="MinuteNewsletterPreference" value="1" checked="@Model.userProfile.MinuteNewsletterPreference">
                                        Receive minute newsletters
                                    </label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="DailyNewsletterPreference" value="1" checked="@Model.userProfile.DailyNewsletterPreference">
                                        Receive daily newsletters
                                    </label>
                                    <br />
                                    <label>
                                        <input type="checkbox" name="WeeklyNewsletterPreference" value="1" checked="@Model.userProfile.WeeklyNewsletterPreference">
                                        Receive weekly newsletters
                                    </label>
                                    <br />
                                    <input type="submit" value="Save Preferences" />
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</body>