@page
@model Web_app.Pages.UserDetailsModel
@{
}
@if (Model.userProfile != null)
{
    <div>

        <h1>Id:@Model.userProfile.userID</h1>
        

    </div>
    <div class="details-container">

        
        <p class="FirstName">FirstName: @Model.userProfile.firstName</p>
        <p class="LastName">LastName: @Model.userProfile.lastName</p>
        <p class="Email">Email: @Model.userProfile.email</p>
    </div>


    
        <div id="commentsList">
            @foreach (var commentDTO in Model.comments)
            {
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="details-container">
                                        <p class="card-text">User: @commentDTO.UserID</p>
                                        <p class="card-text"> @commentDTO.CommentDescription</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    
}
