@page
@model Web_app.Pages.UserDetailsModel
@{
}
@if (Model.userProfile != null)
{
    <div>

        <h1>Id:@Model.userProfile.userID</h1>
        

    </div>
    <div class="details-container">

        
        <p class="FirstName">FirstName: @Model.userProfile.firstName</p>
        <p class="LastName">LastName: @Model.userProfile.lastName</p>
        <p class="Email">Email: @Model.userProfile.email</p>
    </div>



    <div id="commentsList">
        @foreach (var commentDTO in Model.comments)
        {
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form method="post" asp-page-handler="DeleteComment" asp-route-commentId="@commentDTO.CommentID" onsubmit="return confirm('Are you sure you want to delete this comment?');">
                            <input type="hidden" name="commentId" value="@commentDTO.CommentID" />
                            <div class="card">
                                <div class="card-body">
                                    <!-- Add X button in the top right corner -->
                                    <button type="submit" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                    <div class="details-container">
                                        <p class="card-text">User: @commentDTO.UserID</p>
                                        <p class="card-text"> @commentDTO.CommentDescription</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>



    
}
